@model IEnumerable<CMSFinalProject.Models.Patient>

@{
    ViewData["Title"] = "List";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Receptionist Dashboard</h1>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.MMRNo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.MMRNo)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
